<html>
<head>
</head>
<body style="background-color:#D0D0D0;">
              {{ products }}
  
  <table width="679" cellspacing="0" cellpadding="0" border="0" align="center"> 
    <tbody>
      <tr>
        <td height="30"> </td>
      </tr>
    </tbody>
  </table>
  <table width="679" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#FFF" style="background-color: #FFF; border-radius: 10px 10px 10px 10px;">
    <tbody>
      <tr>
        <td>&nbsp;  </td>
      </tr>
      <tr>
        <td>
          <table width="650" cellspacing="0" cellpadding="0" border="0" align="center">
            <tbody>
              <tr>
                <td width="32%" align="left">
                  <a target="_blank" href="http://www.letstango.com/?utm_source=LetsTangoWeeklyNewsletter&amp;utm_medium=email&amp;utm_campaign=june01">
                    <img width="179" border="0" height="53" src="/static/images/common/letstango-logo.png">
                  </a>
                </td>
                <td align="right" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#343336; font-weight:bold;">
                  <img src="/static/images/common/top-free-delivery.png" alt="" width="257" height="46" border="0">
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td height="8"></td>
      </tr>
      <tr>
        <td align="center">
          <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="background:#f47d31;">
            <tbody>
              <tr>
                <td width="2%" height="40"> </td>
                <td width="9%" align="left">
                  <a style="color:#ffffff; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:13px;" target="_blank" href="http://www.letstango.com/category/phones/?utm_source=LetsTangoWeeklyNewsletter&amp;utm_medium=email&amp;utm_campaign=june01">Phones</a>
                </td>
                <td width="9%" align="left">
                  <a style="color:#ffffff; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:13px;" target="_blank" href="http://www.letstango.com/category/tablets/?utm_source=LetsTangoWeeklyNewsletter&amp;utm_medium=email&amp;utm_campaign=june01">Tablets</a>
                </td>
                <td width="12%" align="left">
                  <a style="color:#ffffff; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:13px;" target="_blank" href="http://www.letstango.com/category/computing/?utm_source=LetsTangoWeeklyNewsletter&amp;utm_medium=email&amp;utm_campaign=june01">Computing</a>
                </td>
                <td width="9%" align="left">
                  <a style="color:#ffffff; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:13px;" target="_blank" href="http://www.letstango.com/category/laptops/?utm_source=LetsTangoWeeklyNewsletter&amp;utm_medium=email&amp;utm_campaign=june01">Laptops</a>
                </td>
                <td width="10%" align="left">
                  <a style="color:#ffffff; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:13px;" target="_blank" href="http://www.letstango.com/category/software/?utm_source=LetsTangoWeeklyNewsletter&amp;utm_medium=email&amp;utm_campaign=june01">Software</a>
                </td>
                <td width="11%" align="left">
                  <a style="color:#ffffff; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:13px;" target="_blank" href="http://www.letstango.com/category/cameras/?utm_source=LetsTangoWeeklyNewsletter&amp;utm_medium=email&amp;utm_campaign=june01">Cameras</a>
                </td>
                <td width="15%" align="left">
                  <a style="color:#ffffff; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:13px;" target="_blank" href="http://www.letstango.com/category/entertainment/?utm_source=LetsTangoWeeklyNewsletter&amp;utm_medium=email&amp;utm_campaign=june01">Entertainment</a>
                </td>
                <td width="11%" align="left">
                  <a style="color:#ffffff; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:13px;" target="_blank" href="http://www.letstango.com/category/gadgets/?utm_source=LetsTangoWeeklyNewsletter&amp;utm_medium=email&amp;utm_campaign=june01">Gadgets</a>
                </td>
                <td width="10%" align="left">
                  <a href="http://www.letstango.com/category/fashion/?utm_source=LetsTangoWeeklyNewsletter&amp;utm_medium=email&amp;utm_campaign=june01" target="_blank" style="text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:13px;color:#FFFFFF;"> *Fashion</a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td align="center">
          <a href="http://www.letstango.com/product/lg-g4-dual-lte/?utm_source=LetsTangoWeeklyNewsletter&amp;utm_medium=email&amp;utm_campaign=june01" target="_blank">
            <img src="/static/images/common/hero-banner.jpg" alt="NEW ARRIVAL | LG G4 DUAL-LTE" width="679" height="306" border="0">
          </a>
        </td>
      </tr>     
      <tr>
        <td height="10"></td>
      </tr>    
      <tr>
        <td align="center">
          <table width="679" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td width="50%" align="center">
                  <a href="http://www.letstango.com/product/toshiba-satellite-c50-b-14d-156-inch-laptop-black/?utm_source=LetsTangoWeeklyNewsletter&amp;utm_medium=email&amp;utm_campaign=june01" target="_blank">
                    <img src="/static/images/common/banner-strip-left.jpg" width="335" height="197" alt="Toshiba Satellite C50-B-14D 15.6-inch">
                  </a>
                </td>
                <td width="50%" align="center">
                  <a href="http://www.letstango.com/product/polaroid-socialmatic-instant-digital-camera/?utm_source=LetsTangoWeeklyNewsletter&amp;utm_medium=email&amp;utm_campaign=june01" target="_blank">
                    <img src="/static/images/common/banner-strip-right.jpg" width="335" height="197" alt="Polaroid Socialmatic Instant Digital Camera">
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td height="15"></td>
      </tr>
      <tr>
        <td>
          <table width="679" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>

              {% for product in products %}
                <td align="center">
                  <a href="{{ product.url }}/?utm_source=LetsTangoWeeklyNewsletter&amp;utm_medium=email&amp;utm_campaign=june01" target="_blank" style="text-decoration:none;color:inherit;">
                  <table width="223" height="345" style="border:1px solid #ededed;border-radius:0px;">
                    <tbody>
                      <tr>
                        <td colspan="2" bgcolor="#33CC66" width="100%" height="10" align="center" style="font-size:15px;font-family:Helvetica, Arial, sans-serif;border-radius:2px;"><span style="color:#FFFFFF;">PRICE DROP</span>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" width="180" height="180" align="center" style="padding-top:15px;">
                          <img src="/static/images/monday/{{ product.image_id }}.jpg" width="180" height="180">
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" height="10" align="center"><hr style="border: 0;height: 1px;background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); ">
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" width="100%" height="10" align="center" style="font-size:12px;font-family:Verdana, Geneva, sans-serif;text-transform:uppercase;"><span style="color:#999999;">{{ product.name }}<br></span><span style="color:#7fa1b6;">Black, 16 GB</span>
                        </td>
                      </tr>
                      <tr>
                        <td width="90%" height="40" align="left" style="padding-left:5px;font-size:18px;font-family:Verdana, Geneva, sans-serif;"><span style="font-size:13px;color:#cccccc;">starts at</span> <span style="color:#f57d31;">AED {{ product.price }}</span>
                        </td>
                        <td width="10%" align="right" style="padding-right:2px;"><img src="/static/images/common/cart-icon.png">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  </a>
              {% if loop.index % 3 == 0 %}
                </td>
              </tr>
              {% else %}
              </td>
              {% endif %}              
              {% endfor %}
            </tbody>
          </table>
        </td>
      </tr>              
      <tr>
      <td height="5"></td>
      </tr>
            
            <tr>
        <td align="center">
                <a href="http://www.letstango.com/product/polaroid-cube-lifestyle-action-camera/?utm_source=LetsTangoWeeklyNewsletter&amp;utm_medium=email&amp;utm_campaign=june01" target="_blank">
          <img src="images/daily-discount.jpg" alt="Daily Discount | Polaroid Cube Lifestyle Action Camera" width="679" height="126" usemap="#Map" border="0">
                  </a>
      </td>
      </tr>
  
            
            <tr>
      <td height="5"></td>
      </tr>
  
  
 
  
    <tr>
      <td height="5"></td>
      </tr>

      <tr bgcolor="#F0F0F0">
      <td height="20"></td>
      </tr>
            
            <tr bgcolor="#F0F0F0">
      <td valign="top"><table width="679" cellspacing="0" cellpadding="0" border="0" align="center">
      <tbody><tr>
      <td width="150" height="0" align="center"><a target="_blank" href="http://www.letstango.com/why-letstango/?utm_source=LetsTangoWeeklyNewsletter&amp;utm_medium=email&amp;utm_campaign=june01"><img width="150" height="130" border="0" src="/static/images/common/newsletter-footer-1.png"></a></td>
      <td width="150" align="center"><a href="http://www.letstango.com/why-letstango/?utm_source=LetsTangoWeeklyNewsletter&amp;utm_medium=email&amp;utm_campaign=june01" target="_blank"><img width="150" height="130" border="0" src="/static/images/common/newsletter-footer-2.png"></a></td>
      <td width="150" height="0" align="center"><a href="http://www.letstango.com/why-letstango/?utm_source=LetsTangoWeeklyNewsletter&amp;utm_medium=email&amp;utm_campaign=june01" target="_blank"><img width="150" height="130" border="0" src="/static/images/common/newsletter-footer-3.png"></a></td>
      <td width="150" align="center"><a href="http://www.letstango.com/why-letstango/?utm_source=LetsTangoWeeklyNewsletter&amp;utm_medium=email&amp;utm_campaign=june01" target="_blank"><img width="150" height="130" border="0" src="/static/images/common/newsletter-footer-4.png"></a></td>
      </tr>
      </tbody></table></td>
      </tr>
            
            <tr bgcolor="#F0F0F0">
      <td height="20"></td>
      </tr>
            
      <tr>
      <td valign="top"><table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="background:#504f55;">
      <tbody><tr>
      <td width="29" height="50" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#343336; font-weight:bold;"> </td>
      <td width="420" valign="middle" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#ffffff; font-weight:bold; vertical-align:middle;"><table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
      <tbody><tr>
      <td width="420" valign="top" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#ffffff; font-weight:bold;">Email: <a href="mailto:support@letstango.com" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#ffffff; font-weight:bold; text-decoration:none;">support@letstango.com</a></td>
      </tr>
      </tbody></table></td>
      <td width="230" valign="middle" height="50" style=" vertical-align:middle;"><table width="85%" cellspacing="0" cellpadding="0" border="0">
      <tbody><tr>
      <td><a href="https://twitter.com/LetsTangoME" target="_blank" style="visibility:visible;"><img width="32" border="0" height="32" src="/static/images/common/twitter.png"></a></td>
      <td><a href="https://www.facebook.com/LetsTangoME" target="_blank" style="visibility:visible;"><img width="32" border="0" height="32" src="/static/images/common/fb.png"></a></td>
      <td><a href="http://www.linkedin.com/company/Lets-Tango" target="_blank" style="visibility:visible;"><img width="32" border="0" height="32" src="/static/images/common/in.png"></a></td>
      <td><a href="https://plus.google.com/+LetsTango/posts" target="_blank" style="visibility:visible;"><img width="32" border="0" height="32" src="/static/images/common/google+.png"></a></td>
      <td><a href="http://pinterest.com/LetsTangoME/" target="_blank" style="visibility:visible;"><img width="32" border="0" height="32" src="/static/images/common/pintrest.png"></a></td>
      </tr>
      </tbody></table></td>
      </tr>  
      </tbody></table>
      </td>
      </tr>
      <tr>
      <td valign="top"><table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="background: none repeat scroll 0% 0% rgb(255, 255, 255); border-bottom: 1px solid #e0e0e0;">
      <tbody style="">
            <tr>
      
      
      <td width="230" align="center" valign="middle" height="50" style=" vertical-align:middle;"><table width="85%" cellspacing="0" cellpadding="0" border="0">
      <tbody>
            <tr>
        
        <td align="center" style="
    padding-top: 10px;
    padding-bottom: 10px;
"><img border="0" src="/static/images/common/trust_icon_strip.png"></td>      
      </tr>
            </tbody></table></td></tr></tbody></table></td></tr>

<tr>
      <td valign="top"><table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="background: none repeat scroll 0% 0% rgb(255, 255, 255); border-radius: 10px 10px 10px 10px;">
      <tbody style="">
            <tr>
      
      <td width="240" valign="middle" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#333; font-weight:bold; vertical-align:middle;"><table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
      <tbody>
              <tr>
          <td width="420" valign="top" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size: 12px; color:#333;padding-top: 15px;padding-bottom: 15px;">104, Best Homes Business Center, First Floor, Sheikh Zayed Road, Dubai, U.A.E. | <b>Call Us: +971 4 3388225</b></td>
        </tr>
      </tbody>
            </table>
            </td>
      </tr></tbody></table></td></tr>
      </tbody>
    </table>
        <table width="679" cellspacing="0" cellpadding="0" border="0" align="center"> 
      <tbody>
        <tr>
          <td height="30"> </td>
        </tr>
      </tbody>
    </table>
</body></html>